body::after {
  margin: 0;
  padding: 0;
  background: #fff url("../image/bg1.jpg") center center fixed no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.sc-div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -145px;
  margin-left: -235px;
  text-align: center;
  display: block;
}
