div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
input {
  padding: 8px 10px;
  border-style:0;
  width:450px;
  height:45px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}
button {
  vertical-align:middle;
  border-radius: 4px;
  background-color: #97CBFF;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
